<!doctype html>
<html lang="ru">
 <head>
  <meta charset="windows-1251">
  <title>WORK UA</title>
 </head>
 <body>
  <table>
   <tbody>
    <tr>
     <th>Title</th>
     <th>City</th>
     <th>Company Name</th>
     <th>Salary</th>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/4741932/">Java developer</a></td>
     <td class="city">Киев, 6,7 км от центра</td>
     <td class="companyName">SystemGroup</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/5747767/">Middle Java Developer</a></td>
     <td class="city">Киев, 8,9 км от центра</td>
     <td class="companyName">Агротеп, ТОВ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/5577309/">Java developer</a></td>
     <td class="city">Киев, 6,2 км от центра</td>
     <td class="companyName">Trade Service Alliance</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/5767127/">Middle Java developer (Kyivstar TV)</a></td>
     <td class="city">1+1 media Киев, 2,5 км от центра</td>
     <td class="companyName">1+1 media</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/3208959/">Strong Middle Java Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Sumix Ukraine</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/3957104/">Педагог Java-програмування для дітей 10 років</a></td>
     <td class="city">Киев, 9,0 км от центра</td>
     <td class="companyName">Центр творчості дітей та юнацтва Святошинського району</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/5698053/">Java-розробник (trainee)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Billing.media Ukraine</td>
     <td class="salary">24000–30000грн</td>
    </tr>
    <tr class="vacancy template" style="display: none">
     <td class="title"><a href="url"></a></td>
     <td class="city"></td>
     <td class="companyName"></td>
     <td class="salary"></td>
    </tr>
   </tbody>
  </table>
 </body>
</html>