<!doctype html>
<html lang="ru">
 <head>
  <meta charset="windows-1251">
  <title>FULL LIST</title>
 </head>
 <body>
  <table>
   <tbody>
    <tr>
     <th>Title</th>
     <th>City</th>
     <th>Company Name</th>
     <th>Salary</th>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/4741932/">Java developer</a></td>
     <td class="city">Киев, 6,7 км от центра</td>
     <td class="companyName">SystemGroup</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/5747767/">Middle Java Developer</a></td>
     <td class="city">Киев, 8,9 км от центра</td>
     <td class="companyName">Агротеп, ТОВ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/5577309/">Java developer</a></td>
     <td class="city">Киев, 6,2 км от центра</td>
     <td class="companyName">Trade Service Alliance</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/5767127/">Middle Java developer (Kyivstar TV)</a></td>
     <td class="city">1+1 media Киев, 2,5 км от центра</td>
     <td class="companyName">1+1 media</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/3208959/">Strong Middle Java Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Sumix Ukraine</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/3957104/">Педагог Java-програмування для дітей 10 років</a></td>
     <td class="city">Киев, 9,0 км от центра</td>
     <td class="companyName">Центр творчості дітей та юнацтва Святошинського району</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://www.work.ua/ru/jobs/5698053/">Java-розробник (trainee)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Billing.media Ukraine</td>
     <td class="salary">24000–30000грн</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company853/vacancy10174460">Middle lead software engineer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Huawei Ukraine LLC / Хуавей Україна, ТОВ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14768795/vacancy10144592">Trainee Java developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Bronx</td>
     <td class="salary">23 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company1037/vacancy10127499">Access Management Specialist</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Райффайзен Банк</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company5086938/vacancy10122913">Middle Java Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">АГРОТЕП, ТОВ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company589525/vacancy9711304">DevOps Engineer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Ukrainian Processing Center</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company825/vacancy10105976">Senior Scala Engineer (With Zendesk Data Integration Experience)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Sigma Software</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company137368/vacancy9429002">Головний адміністратор систем відділу системного адміністрування та зв`язку</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Банк Кредит Дніпро, АТ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company5128308/vacancy10148681">Технік- програміст ( Senior Java Developer )</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">CreditKasa</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company664641/vacancy10166822">Провідний програміст (java)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Мук, Группа компаний</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company816229/vacancy5872044">Android Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">PNN Soft</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company1020/vacancy10122518">DevSecOps</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Перший Український Міжнародний Банк, АТ / ПУМБ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14760800/vacancy10141883">Trainee Android Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">podysistem</td>
     <td class="salary">25 000 — 27 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14541748/vacancy10052932">Trainee Android Developer (район Виноградар)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">PixelCraft Vinogradar</td>
     <td class="salary">25 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company958/vacancy9299965">SQL розробник</a></td>
     <td class="city">Киев</td>
     <td class="companyName">ДТЕК, ТОВ, Енергетична компанія</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company828062/vacancy10135042">Java developer (Middle) Kyivstar TV</a></td>
     <td class="city">Киев</td>
     <td class="companyName">1+1 media</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company816229/vacancy9902931">Python Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">PNN Soft</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company825/vacancy9940021">Senior Go Developer (AdTech)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Sigma Software</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company317228/vacancy9546968">java developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">SystemGroup Ukraine</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14132159/vacancy10119626">Trainee Java Developer (стажер)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Branding Guru</td>
     <td class="salary">21 000 — 24 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14726526/vacancy10131487">Junior Android Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">RonoSoft</td>
     <td class="salary">32 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14261434/vacancy10013649">Trainee Java Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">MannSales</td>
     <td class="salary">30 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company7452982/vacancy9534915">Junior Java Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">The final wage can be adjusted according to the in</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company7557632/vacancy10170095">junior Java developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">KOHANSTUDIO</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14289155/vacancy9953658">Trainee Junior Python Java Direct IT Web Developer (з навчанням, тільки Київ)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Романенко В.Б., ФОП</td>
     <td class="salary">27 000 — 40 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14791359/vacancy10164181">Trainee Java developer (без досвіду, не віддалено)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Judicial Drive, Автомийка</td>
     <td class="salary">26 000 — 31 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14782488/vacancy10164122">Trainee Java developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">DataDazzle</td>
     <td class="salary">28 000 — 35 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company1044195/vacancy10161823">Інженер-програміст</a></td>
     <td class="city">Киев</td>
     <td class="companyName">ПроМотор</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14635741/vacancy10158344">Junior Java develoeper (без досвіду)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Rendux IT</td>
     <td class="salary">25 000 — 32 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13848333/vacancy9696004">Викладач програмування</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Digital World, Онлайн-школа</td>
     <td class="salary">10 000 — 20 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14709186/vacancy10153097">Junior Java Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Crazylab</td>
     <td class="salary">24 000 — 28 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14214778/vacancy9994494">Java Developer (з навчанням)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Restauracja Beef and Pepper Steak house</td>
     <td class="salary">21 000 — 24 500 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company12771764/vacancy9913194">Back-end developer (Java)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">За результатами співбесіди</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company4327477/vacancy8125241">Java developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Applied Methods GmbH</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14618204/vacancy10109654">Trainee Java Developer (стажер)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Foourty Group</td>
     <td class="salary">22 500 — 24 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company6331609/vacancy10109374">Супервайзер технічної підтримки</a></td>
     <td class="city">Киев</td>
     <td class="companyName">TRANZZO INC</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company908827/vacancy10119654">Full Stack (.NET+Angular) Developer (Remote)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">IT Craft</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company1590638/vacancy10151994">Full stack developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">EvoPlay</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company4069008/vacancy10152188">Game developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">ДЗЕН, HR-агенція в сфері digital та IT</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company4924996/vacancy10152000">Front-end React практика</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Fernir</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14856332/vacancy10190413">Junior Front-End Developer (Без досвіду)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Brototip</td>
     <td class="salary">27 500 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14859137/vacancy10191581">Frontend Developer Middle (Vue.js)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Citia BTC</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13525222/vacancy10191564">Senior Javascript/Angular developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Proftrans</td>
     <td class="salary">260 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company463204/vacancy9329561">Разработчик Front-end (Middle) (Angular, .NET Core, TypeScript)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">УКР.ПЕЙ, ТОВ</td>
     <td class="salary">30 000 — 80 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14791234/vacancy10155523">Trainee full stack developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">MindWaveIT</td>
     <td class="salary">21 000 — 27 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14770386/vacancy10145589">Junior Javascript developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">TechVentures</td>
     <td class="salary">20 000 — 25 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company6627493/vacancy10159994">WordPress Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">SKELAR</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company1162913/vacancy10169910">Sr. Node.js\Golang розробник</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Depositphotos</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company6627493/vacancy10178174">Middle React Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">SKELAR</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company825/vacancy10061245">Software Development Engineer In Test (Js)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Sigma Software</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company34990/vacancy10071011">Full-Stack (.NET + Angular) Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Retail Group</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company2864090/vacancy10189477">Провідний фахівець з інформаційних технологій / Full Stack Developer (TypeScript/React)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Danish Refugee Council / Данська Рада у справах біженців в Україні</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company2793346/vacancy10169692">Full-stack developer (PHP, Vue.js)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">SUPPORT.UA</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company10973762/vacancy10189309">Junior Angular Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">USENSE</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14856824/vacancy10189987">Front-end розробник</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Software Technologies</td>
     <td class="salary">25 000 — 38 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14811611/vacancy10189722">Junior Front-end Web developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">TopHouseIO</td>
     <td class="salary">20 000 — 25 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14608730/vacancy10082156">Trainee Front-end developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">ProStorv Innovations</td>
     <td class="salary">26 000 — 28 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14855966/vacancy10189614">Trainee Front-end developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Taton</td>
     <td class="salary">24 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company11214484/vacancy9925018">Junior Full Stack Engineer (Laravel / React)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">SoftHouse</td>
     <td class="salary">20 000 — 45 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company39974/vacancy10184158">Middle Node.js Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">ФОРА, ООО</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company39974/vacancy10180090">Middle Frontend (Angular) Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">ФОРА, ООО</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company876004/vacancy8702680">Full stack developer middle+/senior</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Кусум</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13662534/vacancy10158194">Програміст | Asterisk</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Гур`янов .В., ФОП</td>
     <td class="salary">120 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company4074906/vacancy9843563">Front-end Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">OfferWall</td>
     <td class="salary">20 000 — 30 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company6546655/vacancy10175836">Full-Stack Developer for MVP Project (React Native)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">CRMOZ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company3311885/vacancy9154309">Frontend-developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">WEB Colors</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company523801/vacancy10094878">JavaScript Game Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">PlayWorks</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company12385871/vacancy10142084">Fullstack Developer 3+ years (UpWork)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">IT Continental</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company667391/vacancy10163398">JAVASCRIPT DEVELOPER (JUNIOR)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Ідея Банк, Акціонерне Товариство</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company831808/vacancy9630577">Full-stack developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Національний банк України</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company825/vacancy9939976">Principal Backend Developer NodeJS (AdTech)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Sigma Software</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company7209278/vacancy9497678">Web developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">ABC Market Method LP</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company804108/vacancy10140749">Full stack JavaScript Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Група компаній Фокстрот, ТОВ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13757875/vacancy10183232">Senior Full-Stack developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Traffic Jet</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14246548/vacancy10184115">Node.js Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Traff Group</td>
     <td class="salary">50 000 — 100 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company3250002/vacancy8987488">Викладач JS, CSS, HTML, Python, Unity (програмування для дітей)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">ITSCHOOL</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14424927/vacancy10112942">React Native Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Bitcoin24</td>
     <td class="salary">(удаленно)</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company10973762/vacancy9925649">Неоплачуване стажування Angular Front-end Developer із працевлаштуванням</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">USENSE</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14125393/vacancy10158316">Junior Front-end developer (Навчаємо)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">SoftNauts-Software House</td>
     <td class="salary">30 000 — 30 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company6390611/vacancy10101581">Аналітик з впровадження ERP системи</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">МАКК Системс</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company816229/vacancy9716151">Full Stack C#/.Net Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">PNN Soft</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company4059733/vacancy9579281">Head of IT department</a></td>
     <td class="city">Киев</td>
     <td class="companyName">ЦУМ Київ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company966/vacancy10109620">Middle Frontend Engineer (Employer Enterprise Team)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">robota.ua</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14841082/vacancy10181279">Front End Developer ReactJS</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Zeekr</td>
     <td class="salary">44 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company3464285/vacancy10179001">Strong Junior Full Stack Developer (React.js, Node.js)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Incode Group</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13604516/vacancy9934159">React Native Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Audety</td>
     <td class="salary">62 700 — 85 300 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company3805000/vacancy9980252">Middle PHP developer (робота в офісі)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">ВіДі Мотор Імпортс, ТОВ</td>
     <td class="salary">75 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14835439/vacancy10177469">Frontend Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">99Tech</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14835439/vacancy10177473">Backend Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">99Tech</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company5213919/vacancy9389026">Middle Full Stack Web Developer (РНР)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Дячук І.Я. ФОП</td>
     <td class="salary">40 000 — 60 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company9632311/vacancy10177431">Front-end React developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">DigitalBrother</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company1017852/vacancy9478142">Front-End Developer (React.js) з досвідом</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Перелет, ООО</td>
     <td class="salary">70 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14089088/vacancy9968163">Strong Junior React + .NET Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">SunHunter</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company9373038/vacancy9577151">Front-end developer (remote)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Out of the Box Systems</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company4924996/vacancy10125270">Intern/Trainee Front-end Developer Remote</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Fernir</td>
     <td class="salary">16 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company10211850/vacancy10031608">Middle/Senior Full stack Developer (.Net+ Angular JS OR Vue.JS)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Ollsent</td>
     <td class="salary">60 000 — 180 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14726576/vacancy10131699">Trainee Front-End Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">FainaZoloto</td>
     <td class="salary">35 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company8931301/vacancy10043199">Junior Front-end developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Perion Kyiv</td>
     <td class="salary">20 000 — 39 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13525222/vacancy10174158">.NET/React Team Lead</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Proftrans</td>
     <td class="salary">240 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13663409/vacancy9669203">Junior Full Stack Developer (PHP)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Golem Agency</td>
     <td class="salary">12 000 — 40 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14668187/vacancy10106857">React.JS</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">DVC</td>
     <td class="salary">19 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company1343242/vacancy10051155">Програміст Frontend React JavaScript (JS)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">за результатами співбесіди</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company1274075/vacancy9843994">Junior Front-end developer (Vue.js)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">SoftPro</td>
     <td class="salary">18 000 — 30 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company11361624/vacancy10170532">Викладач програмування для підлітків (C++, C#, Java, Python, Lua)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">YoungDeveloper, Розвиваючий IT-простір</td>
     <td class="salary">15 000 — 29 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13337619/vacancy10123661">Node.js Senior Fullstack Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Honest Team</td>
     <td class="salary">60 000 — 150 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13239204/vacancy10169914">React.js developer в стартап (неоплачувано)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Digital Thing</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14367707/vacancy10076808">Junior Front-End Developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">InNet Team</td>
     <td class="salary">40 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14367913/vacancy9953673">Trainee Front-end developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Talent Force</td>
     <td class="salary">23 000 — 30 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company3974586/vacancy9531404">Front-end developer Vue.js/Nuxt.js</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">REDLAB</td>
     <td class="salary">40 000 — 60 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company6552241/vacancy10166093">Full Stack Developer Software Engineer JS/TS</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Муніципальна охорона, КО</td>
     <td class="salary">25 000 — 30 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company6552241/vacancy10164934">Full Stack Developer Software Engineer JS/TS</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Муніципальна охорона, КО</td>
     <td class="salary">25 000 — 30 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company908827/vacancy10165680">Node.JS + Angular Developer (Remote)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">IT Craft</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company909888/vacancy10163985">Cтарший Веб-Розробник/ця (Міжнародний/-а Консультант/ка) / (International Senior Full Stack Web Developer (Сonsultant)) - Міжнародна організація з міграції (МОМ), Представництво в Україні</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Міжнародна організація з міграції / МОМ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14591360/vacancy10074124">Бариста</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Java Nook</td>
     <td class="salary">18 000 — 25 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company10938700/vacancy10161236">Розробник рішень для ERP системи Odoo</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Garazd Creation</td>
     <td class="salary">20 000 — 60 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company3176294/vacancy10016136">Front-end Developer (PHP, React)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Finport Technologies Inc.</td>
     <td class="salary">74 000 — 102 500 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14783925/vacancy10159608">HTML-верстальник (стажер)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">WebSolo</td>
     <td class="salary">31 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company1400279/vacancy9225426">Full stack Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">АЙТІКСЕС, ТОВ</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14779625/vacancy10157979">Front-end розробник</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Logic Stream</td>
     <td class="salary">27 500 — 40 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14279314/vacancy9904422">Trainee Front-end developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Таращук В.А., ФОП</td>
     <td class="salary">23 000 — 33 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company12150538/vacancy10155007">Senior React Native Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">SIEMA TECH</td>
     <td class="salary">100 000 — 125 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14760727/vacancy10154943">Старт кар'єри в IT (Trainee front-end developer)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">BlackCyber</td>
     <td class="salary">28 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14466634/vacancy10154246">FullStack розробник (React/Vue, Next. js)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">QDS</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14515453/vacancy10154740">Full stack Opencart</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Narnia</td>
     <td class="salary">800 погодинна/або ставка</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company6546655/vacancy9521340">Junior Full Stack Developer (Vue, PHP/ Laravel)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">CRMOZ</td>
     <td class="salary">25 000 — 35 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company2363870/vacancy10154696">Strong Junior / Middle Frontend Developer (Vue.js)</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">OneSource</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14709186/vacancy10153111">Trainee Front-end developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Crazylab</td>
     <td class="salary">20 000 — 25 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14216862/vacancy9994425">Junior Front-end developer (не віддалено)</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Tech Mastery</td>
     <td class="salary">24 000 — 29 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13231352/vacancy10151465">Технічний спеціаліст у онлайн-школу</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Смакота</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14394842/vacancy9969658">Розробник(ця) сценаріїв (Google Apps Script, Sheets), аналітик(киня) даних</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Оплата - за домовленістю (вартість проєкту)</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13994483/vacancy9870615">Back-end developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Company Wills</td>
     <td class="salary">80 000 — 140 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company119636/vacancy9806223">Front-End Trainee</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">ABCloudz</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company12344066/vacancy10149504">Web Developer, технічний спеціаліст [PHP/JS/API/KEITARO]</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">Абашкин И., ФЛП</td>
     <td class="salary">25 000 — 35 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company13998848/vacancy9955780">Junior Front-end developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">Wilde Coffe Bar</td>
     <td class="salary">22 000 — 26 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company882751/vacancy9965235">Експерт з доопрацювання та підтримки бізнес процесів в БО “100 ВІДСОТКІВ ЖИТТЯ” на платформі Microsoft SharePoint</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">100 ВІДСОТКІВ ЖИТТЯ, БО</td>
     <td class="salary">(удаленно)</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company14772342/vacancy10146312">Junior Front-end developer</a></td>
     <td class="city">Киев</td>
     <td class="companyName">DevPulse</td>
     <td class="salary">20 000 — 25 000 ?</td>
    </tr>
    <tr class="vacancy">
     <td class="title"><a href="https://robota.ua/company12430979/vacancy9857096">Middle JavaScript / Vue.js Frontend Developer</a></td>
     <td class="city">Киев (удаленно)</td>
     <td class="companyName">based on experience and interview results</td>
     <td class="salary"></td>
    </tr>
    <tr class="vacancy template" style="display: none">
     <td class="title"><a href="url"></a></td>
     <td class="city"></td>
     <td class="companyName"></td>
     <td class="salary"></td>
    </tr>
   </tbody>
  </table>
 </body>
</html>